body{
    text-decoration: underline;
    background-image: url(green-paper-texture.jpg);
    background-color: #cccccc;
    color:#FFE4E1;
    border: 10px solid black;
    border-radius: 30px;
    padding: 5%;
}
h1
{
    color: white;
    text-align: center;
}
h2
{
    color: #F0FFF0;
    font-size: 1.5em;
}
h3
{
    font-size: 3em;
    text-align: center;
    color: #FFD700;
}

.output {
    float: right;
    padding-right: 20px;
    padding-bottom: 1000px
}

.text {
    position: relative;
    width:300px;
    height:300px;
    top: 1050px;
    right:25%;
    left:50%;
    margin-left:-150px;
}

.cards, .players, .points {
    float:left;
}

.cards:after, .players:after, .points:after {
    clear:both;
}

.cards {
    padding-left : 15px;
}

.card{
    padding-bottom: 75px;
}

.points{
    margin-left: 20px;
}

.point{
    font-size: 90px;
    padding: 51px;
    padding-bottom: 25%!important;
}

#result{
    clear:both;
}

#main {
    position: relative;
    padding: 16px;
}