body{
    text-decoration: underline;
    background-image: url(green-paper-texture.jpg);
    /*background-color:#000000;*/
    background-color: #cccccc;
    color:#FFE4E1;
    border: 10px solid black;
    border-radius: 30px;
    padding: 5%;
}
h1
{
    color: white;
    text-align: center;
}
h2
{
    color: #F0FFF0;
    font-size: 1.5em;
}
h3
{
    font-size: 3em;
    text-align: center;
    color: #FFD700;
}
